# dependencies
node_modules

# production
build
tsconfig.build.tsbuildinfo
storybook-static
public
.env
.serverless

# tests
coverage

# boring files
lerna-debug.log
.DS_Store
.vscode
.npmrc

# Yalc
.yalc
yalc.lock
